.gitignore

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradlew
gradlew
gradlew.bat

# gradle
build
.gradle
gradle

# other
eclipse
run
.DS_Store

# Files from Forge MDK
forge*changelog.txt

# build
mcmodsrepo